.MeasurementCommon_header {
  &:before {
    display: inline-block;
    width: 1em;
    margin-right: .5em;

    .MeasurementCommon-BattVoltage & {
      content: '💡';
    }

    .MeasurementCommon-Location & {
      content: '🗺';
    }

    .MeasurementCommon-Pressure & {
      content: '🗜';
    }

    .MeasurementCommon-PM1 & {
      content: '▩';
    }

    .MeasurementCommon-Serial & {
      content: '#';
    }

    .MeasurementCommon-Temperature & {
      content: '🌡';
    }
  }
}
